@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Common  */
header,
main {
    width: 1280px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

/* header  */
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(0, 0, 48);
    color: aliceblue;
    border-radius: 15px;
    height: 646px;
}

.header-item {
    padding-left: 110px;
    padding-top: 110px;
    font-size: 23px;

}

.link-button {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(25, 144, 184);
    padding: 8px 8px 8px 18px;
    border-radius: 5px;
    font-weight: 400;
    margin-top: 15px;

}

.fa-greater-than {
    padding-left: 8px;
    padding-right: 10px;
    font-weight: 400;
}

#header-pic {
    height: 646px;
}

#sidebarwithcontent {
    display: flex;
    margin-top: 130px;
}

/* side menu bar  */
.side-bar {
    background-color: rgb(0, 0, 48);
    width: 25%;
    height: 340px;
    border-radius: 10px;
}

.side-bar ul {
    list-style: none;
    padding-left: 25px;

}

.side-bar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    margin-top: 23px;
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: 28px;
    border-radius: 10px;
    text-align: center;
}

a.active {
    background-color: rgb(25, 144, 184);
}

/* main conten article  */
#article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    margin-bottom: 130px;
}

.main-content {
    margin-left: 24px;
    width: 312px;
    height: 362px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(252, 254, 255);
}

.match-details {
    padding-left: 25px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 18px;
}

.link-button-main {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(250, 254, 255);
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid rgb(54, 54, 54);

}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    padding-left: 25px;
}

.duration {
    display: flex;
    gap: 5px;
    color: rgba(22, 22, 22, 0.7);
}

.inbox {
    display: flex;
    gap: 5px;
    color: rgba(22, 22, 22, 0.7);
}

/* Footer  */
footer {
    text-align: center;
    background-color: rgb(0, 0, 48);
    width: 100%;
    height: 200px;
    padding-top: 10%;
    padding-bottom: 10%;
    color: rgb(204, 206, 208);
}

#footer-hr {
    width: 70%;
    opacity: 30%;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin-left: 25%;
}

footer ul li a {
    text-decoration: none;
    color: rgb(207, 209, 211);

}