@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Index-html page  */
/* Common  */
body {
    margin: 0;
    padding: 0;
}

header,
main {
    max-width: 1280px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

/* header  */
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(0, 0, 48);
    color: aliceblue;
    border-radius: 15px;
    height: 646px;
    margin-top: 50px;
    overflow: hidden;
}

.header-item {
    padding-left: 110px;
    padding-top: 110px;
    font-size: 22px;

}

.link-button {
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(25, 144, 184);
    padding: 8px 8px 8px 18px;
    border-radius: 10px;
    font-weight: 100;
    margin-top: 15px;

}

.link-button:hover {
    background-color: rgb(94, 225, 94);
}

.sidebarwithcontent>p {
    text-align: center;
}

.fa-greater-than {
    padding-left: 8px;
    padding-right: 10px;
}

#header-pic {
    height: 646px;
}

@keyframes zoom-in {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.3, 1.3);
    }
}

#header-pic:hover {
    animation: zoom-in 3s ease-in-out;
}

/* Main part  */
.sidebarwithcontent {
    display: grid;
    grid-template-columns: 25% 1fr;
    margin-top: 130px;
}

/* side menu bar  */
.side-bar>div {
    background-color: rgb(0, 0, 48);
    border-radius: 10px;
    padding-left: 5px;
    padding-bottom: 15px;
}

.side-bar ul {
    list-style: none;
    padding-left: 25px;

}

.side-bar a {
    width: 80%;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    margin-top: 23px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    text-align: center;
}

a.active {
    background-color: rgb(25, 144, 184);
}

/* main conten article  */
.article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    margin-bottom: 130px;
}

.main-content {
    margin-left: 24px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(252, 254, 255);
    padding-bottom: 10px;
}

.link-button-main {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(250, 254, 255);
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid rgb(54, 54, 54);

}

.match-details {
    padding-left: 25px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 18px;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    padding-left: 25px;
}

.duration {
    display: flex;
    gap: 5px;
    color: rgba(22, 22, 22, 0.7);
}

.thumnail {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 20% 1fr;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.upcoming .info,
.upcoming .duration {
    display: block;
    text-align: center;
}

.upcoming .main-content {
    padding-top: 15px;
    text-align: center;
}

.thumnail img {
    width: 100%;
}

.inbox {
    display: flex;
    gap: 5px;
    color: rgba(22, 22, 22, 0.7);
}

.link-button2 {
    display: none;
    margin: auto;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(25, 144, 184);
    padding: 8px 8px 8px 18px;
    border-radius: 10px;
    font-weight: 100;

}

.link-button2:hover {
    background-color: rgb(94, 225, 94);
}

/* Footer  */
footer {
    text-align: center;
    background-color: rgb(0, 0, 48);
    width: 100%;
    height: 200px;
    padding-top: 10%;
    padding-bottom: 10%;
    color: rgb(204, 206, 208);
}

#footer-hr {
    width: 70%;
    opacity: 30%;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin-left: 25%;
}

footer ul li a {
    text-decoration: none;
    color: rgb(207, 209, 211);

}

.banner-img img {
    width: 100%;
}

/* Responsiveness  */

/* Responsive for tablet device  */
@media screen and (min-width:768px) and (max-width:1023px) {

    .header {
        width: 100%;

    }

    .header-item {
        padding-left: 20px;
    }

    #header-pic {
        padding-top: 50px;
        width: 100%;
        height: 540px;
    }


    .side-bar>div {
        background-color: transparent;
    }

    .side-bar>div ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .article {
        grid-template-columns: 1fr 1fr;
    }

    .sidebarwithcontent {
        grid-template-columns: 1fr;
    }

    .link-button2_p {
        text-align: center;
    }

    .link-button2 {
        display: inline-block;
    }

    /* footer  */
    footer ul {
        padding-right: 25%;
        white-space: nowrap;
        justify-content: center;
    }

    footer p {
        display: none;
        text-align: center;
    }
}

/* For mobile device  */
@media screen and (max-width:767px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* header  */
    .header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        width: 100%;
    }

    .header-item {
        padding-left: 10px;
        width: 100%;
        overflow: hidden;
        text-align: center;
    }

    .header-item p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    #header-pic {
        width: 100%;
        height: auto;
    }

    /* header  */

    /* sider bar with main content  */
    main {
        margin-top: 30px;
        margin-bottom: 60px;
        margin-right: 10px;
    }

    .sidebarwithcontent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        width: 100%;
        text-align: center;
        margin-top: 40px;
        padding-right: 3%;
    }

    .side-bar {
        background-color: white;
    }

    .side-bar a {
        border: 1px solid lightgray;
        width: auto;
    }

    .article {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        width: 100%;
        margin-top: 20px;
        row-gap: 20px;
    }

    /* sider bar with main content  */
    /* Footer  */
    footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: auto;

    }

    footer ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-right: 38%;
        white-space: nowrap;
    }

    footer p {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 25px;
    }
}